*{
    margin: 0;
    padding: 0;
}
body{
   
    background-image: url(image/background.jpg);
    width: 100%;
    text-align: center;
}
   #background {
    border: 2px hidden;
    border-radius: 70px;
    width: 100px;
    height: 100px;
    }
   main article img{
       width: 50px;
       height: 50px;
   }
   
   main article{
    
    padding: 10px;
    
   
   }
   
   button{border: 2px solid #000000;
    margin-left: 710px ;
    margin-right: 710px;
    margin-top: 100px;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(0,0,0,0);
}
button:hover{
    background: rgba(150, 140, 140, 0.5);
}
   h2,h3{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }